* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: dimgray;
  font-family: 'Play', sans-serif;
}

div h2 {
  color: darkorange;
}

.container {
  display: flex;
  flex-direction: column;
  height: 1123px;
  width: 794px;
  background: white;
  margin: 1em auto;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  margin: 1em;
  font-weight: 700;
  }

.photo {
  height: 150px;
  width: 200px;
  border: 1px solid dimgray;
  border-radius: 50%;
  background: url('./../img/photo.jpg');
  background-size: cover;
  box-shadow: 3px 3px 3px 3px darkorange;
  margin: 0 1em;
}
.title {
  margin: 0 1em;
  font-size: 2em;
}
.title h2 {
  font-size: 1em;
}
.career {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: 680px;
  margin: 0 1em;
  border-radius: 5px;
  }

a, a:hover {
  text-decoration: none;
  color: darkorange;
  font-weight: 700;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 2px;
}

.tech {
  width: 25%;
  margin-top: 1.25em;
}

.social, .tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
}

.social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tech ul {
  list-style-type: none;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social ul li, .tech ul li {
  display: flex;
  line-height: 35px;
}
.social ul img, .tech ul img {
  height: 32px;
}
.social p {
  color: dimgray;
  }

.info1, .info2 {
  width: 35%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.info2 span, .info1 span {
  font-size: .9em;
  color: darkorange;
  }
.info2 span~ul li {
  font-size: .9em;
}

.info2 p, .info1 p {
  font-size: .9em;
}

#klauzula {
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1px 10px;
}